<h1> Index Page! </h1>

<p> A place for wonderful quotes about the fantastic beasts that are horses.</p>

<% @quotes.each do |quote| %>
    <%= link_to(quote_path(quote)) do  %>
    <%= quote.quotetext %>
    <% end %>
<% end %>