<body style='background:url(https://images.unsplash.com/photo-1460376155535-5536688fb80b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80); background:cover;;'>
<div class=main>
<div class="grid-container">
<div class="grid-x align-center">
    <div class="cell medium-9 welcome">
        <h1> Horse Quotes </h1>
        <%= link_to  "Quotes", quotes_path %>
    </div>
</div>
</div>
</div>
