.main-menu {
    background: rgba(255, 255, 255,0.5) 
    }
.main-menu a {
    color:black;
}

.welcome {
    text-align: center;
}

.img-background {
    background: url(https://source.unsplash.com/1600x900/?horses);
    background-size: cover;
}

.main-quote {
    background: rgba(255, 255, 255, 0.3);
    display: inline;
}

h2.author {
    font-size: 20px;
}

.main {
    max-height: 50vh;
}

.new-quote {
    height: 200px;
}

/* .select2-selection--single {
    height: 40px !important;
    padding: 2px;
} */